<!DOCTYPE html>
<html>
<head>
  <title>G3AssessmentWeek10</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<% if flash[:notice] %>
<p id="flash_notice"><%= flash[:notice] %></p>
  <% end %>

<%= yield %>
</div>

</body>
</html>
